.typewriter {
	display: inline-block;
	font-family: "Courier New", Courier, monospace;
}

.text {
	font-size: 2rem;
	border-right: 2px solid #333;
	white-space: nowrap;
	overflow: hidden;
}

.caret {
	border-right: 2px solid #333;
	animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #333;
	}
}
